form{
  margin:1em 2.5em 1em 2em;
  border-style:hidden;
  border-bottom:0.2em solid black;
}

form div:first-of-type{
  border-top:0.2em solid black;
}

form h1,
p.required{
  padding:0.3em;
  display:inline-block;
}

form h1{
  margin-left:0.5em;
  font-size:2em;
}

p.required{
  padding-top:1em;
  padding-right:1em;
  float:right;
}

div{
  padding:2em;
  border-bottom: 0.1em dotted #999999;
}

form label,
form input{
  padding:0.5em 0.5em;
  display:inline-block;
  width:20em;
}

form input{
  border-radius:0.3em;
}

form label{
  float:left;
}

.button{
  margin-left: 21em;
  border-bottom: none;
}

div button{
  padding:1em 1.5em;
  border:0.1em solid black;
  border-radius:1em;
  background:#ccffcc;
}

div button:hover{
  background:#66ffb3;
}

div button:active{
  font-weight:bold;
}

*:focus{
  outline:none;
  border:0.15em outset black;
}

.required{
  background-image:url(orange_asterisk.png);
  background-repeat:no-repeat;
  background-position:right;
}

input:required:invalid{
  background-image:url(red_cross.png);
  background-repeat:no-repeat;
  background-position:right;
  background-color:#ffd6cc;
}

input:required:valid{
  background-image:url(green_tick.png);
  background-repeat:no-repeat;
  background-position:right;
  background-color:#ccffcc;
}

/*Webite used as reference: https://webdesign.tutsplus.com/tutorials/bring-your-forms-up-to-date-with-css3-and-html5-validation--webdesign-4738 */
